html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: "Merriweather Sans", sans-serif;
}
.header {
  background-color: #e4f9f5;
}
.brand {
  font-family: "Sacramento", cursive;
  margin-left: 30px;
  margin-top: 10px;
  display: inline-block;
}
.h-About {
  display: inline-block;
  margin-left: 800px;
  color: #66bfbf;
}
.h-work {
  display: inline-block;
  margin-left: 50px;
  color: #66bfbf;
}
.h-contact {
  display: inline-block;
  margin-left: 50px;
  color: #66bfbf;
}
.main {
  position: relative;
  padding: 180px 0px 222px 0px;
  margin-top: 0px;
  background-color: #e4f9f5;
}
.my-name {
  margin-bottom: 10px;
  margin-left: 350px;
  font-family: "Sacramento", cursive;
  font-size: 80px;
  color: #66bfbf;
  display: inline-block;
}
.desc-txt {
  margin-top: 0px;
  margin-left: 270px;
  display: inline-block;
  color: #66bfbf;
}
.self-img {
  position: absolute;
  left: 900px;
  top: 190px;
}
.middle-container {
  text-align: center;
}
h1 {
  color: #66bfbf;
  line-height: 2;
}

h2 {
  color: #66bfbf;
  font-weight: normal;
}
h3 {
  color: #11999e;
}

hr {
  border: dotted #eaf6f6 6px;
  border-bottom: none;
  width: 10%;
  margin: 100px auto;
}
.profile {
  margin: 100px auto;
  width: 50%;
}
.profile img {
  height: 20%;
  width: 30%;
}
.text-1 {
  line-height: 2;
}
.AVA-IMG {
  border-radius: 50%;
}
.skills {
  margin-top: 100px;
}
.graphic-design {
  padding-right: 30px;
  float: left;
  margin-top: 50px;
}
.video-editing {
  padding-left: 30px;
  margin-top: 50px;
  float: right;
}
.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
}
.bottom-container {
  padding: 30px;
  text-align: center;
  background-color: #66bfbf;
}
a {
  text-decoration: none;
  margin-right: 10px;
  color: #11999e;
}
a:hover {
  transform: scale(1.1);
  text-decoration: underline;
}
.contact-me {
  width: 50%;
  margin: 100px auto;
  text-align: center;
}
button {
  text-align: center;
  text-transform: uppercase;
  color: #000;
  background-color: #11999e;
  border: none;
  border-radius: 50px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

button:hover {
  background-color: #2ee59d;
  box-shadow: 0px 15px 20px #11999e;
  color: #fff;
  transform: translateY(-7px);
}

button:active {
  transform: translateY(-1px);
}
.copyright {
  margin-top: 15px;
}
/* SCROLL TO TOP */
.scroll-to-top {
  position: fixed;
  bottom: 0;
  top: 70%;
  right: 0;
  width: 50px;
  height: 50px;
}
/* CONTACT FORM */
h1 {
  text-align: center;
}

.form-style {
  margin: 10px auto;
  width: 400px;
  padding: 20px 12px 10px 20px;
  font: 14px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.form-style td {
  padding: 0;
  display: block;
  list-style: none;
  margin: 10px 0 0 0;
}

.form-style label {
  margin: 0 0 3px 0;
  padding: 0px;
  display: block;
  font-weight: bold;
}

.form-style .required {
  color: red;
}
.form-style input[type="submit"],
.form-style input[type="reset"] {
  background: #4eb5f1;
  padding: 8px 15px 8px 15px;
  border: none;
  color: #fff;
}
.form-style input[type="submit"]:hover,
.form-style input[type="reset"]:hover {
  background: #4eb5f1;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
.form-style .field-textarea {
  height: 100px;
}
.form-style input[type="text"],
.form-style input[type="email"],
textarea {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 1px solid #bebebe;
  padding: 7px;
  margin: 0px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  outline: none;
}
.form-style .long {
  width: 100%;
}
.form-style input[type="text"]:focus,
.form-style input[type="email"]:focus,
.form-style textarea:focus {
  -moz-box-shadow: 0 0 8px #88d5e9;
  -webkit-box-shadow: 0 0 8px #88d5e9;
  box-shadow: 0 0 8px #88d5e9;
  border: 1px solid #88d5e9;
}
.error {
  color: #d8000c;
  background-color: #ffbaba;
}
