html {
  scroll-behavior: smooth;
}
body {
  text-align: center;
  margin: 0;
  font-family: "Merriweather Sans", sans-serif;
}
.container {
  margin-top: 100px;
}
.tittle {
  text-align: center;
}
.lead-text {
  font-size: 15px;
  color: grey;
}
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}
button {
  padding: 10px 15px;
  margin-left: 10px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  font-size: 15px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
  overflow: hidden;
}

button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #212121;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
}

button:hover {
  color: #e8e8e8;
}

button:hover::before {
  width: 100%;
}
