html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: "Merriweather Sans", sans-serif;
  background-color: #efead8;
}
.header {
  background-color: #536162;
}
.brand {
  font-family: "Sacramento", cursive;
  margin-left: 70px;
  margin-top: 10px;
  display: inline-block;
  color: #efead8;
}
.h-About {
  display: inline-block;
  margin-left: 800px;
  color: #66bfbf;
  color: #efead8;
}
.h-work {
  display: inline-block;
  margin-left: 50px;
  color: #66bfbf;
  color: #efead8;
}
.h-contact {
  display: inline-block;
  margin-left: 50px;
  color: #efead8;
}
.main {
  position: relative;
  padding: 180px 0px 222px 0px;
  margin-top: 0px;
  background-color: #536162;
}
#main-content {
  background-color: #efead8;
}
.my-name {
  margin-bottom: 0px;
  margin-left: 350px;
  font-family: "Sacramento", cursive;
  font-size: 80px;
  color: #66bfbf;
  color: #efead8;

  display: inline-block;
}
.desc-txt {
  margin-top: 0px;
  margin-left: 270px;
  display: inline-block;
  color: #66bfbf;
  color: #efead8;
}
.self-img {
  position: absolute;
  left: 900px;
  top: 170px;
}
.middle-container {
  text-align: center;
}
h1 {
  color: #66bfbf;
  color: #4b6363;
  line-height: 2;
}

h2 {
  color: #66bfbf;
  color: #4b6363;
  font-weight: normal;
}
h3 {
  color: #11999e;
  color: #5d7b7c;
}

hr {
  border: dotted #c5d3d3 6px;
  border-bottom: none;
  width: 10%;
  margin: 100px auto;
}
.profile {
  margin: 100px auto;
  width: 50%;
}
.profile img {
  height: 20%;
  width: 30%;
}
.text-1 {
  line-height: 2;
}
.AVA-IMG {
  border-radius: 50%;
}
.skills {
  margin-top: 100px;
}
.graphic-design {
  padding-right: 30px;
  float: left;
  margin-top: 50px;
}
.video-editing {
  padding-left: 30px;
  margin-top: 50px;
  float: right;
}
.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
}
/* FOOTER  */
.bottom-container {
  padding: 30px;
  text-align: center;
  background-color: #536162;
}
a {
  text-decoration: none;
  margin-right: 10px;
  color: #11999e;
  color: #ffffff;
}
a:hover {
  transform: scale(1.1);
  text-decoration: underline;
}
.contact-me {
  width: 50%;
  margin: 100px auto;
  text-align: center;
}
button {
  text-align: center;
  text-transform: uppercase;
  color: #000;
  background-color: #11999e;
  border: none;
  border-radius: 50px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

button:hover {
  background-color: #657770;
  box-shadow: 0px 15px 20px #384444;
  color: #fff;
  transform: translateY(-7px);
}

button:active {
  transform: translateY(-1px);
}
.copyright {
  margin-top: 15px;
}
/* SCROLL TO TOP */
.scroll-to-top {
  position: fixed;
  bottom: 0;
  top: 70%;
  right: 0;
  width: 50px;
  height: 50px;
}
/* CONTACT FORM */
h1 {
  text-align: center;
}

.form-style {
  margin: 10px auto;
  width: 400px;
  padding: 20px 12px 10px 20px;
  font: 14px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.form-style td {
  padding: 0;
  display: block;
  list-style: none;
  margin: 10px 0 0 0;
}

.form-style label {
  margin: 0 0 3px 0;
  padding: 0px;
  display: block;
  font-weight: bold;
}

.form-style .required {
  color: red;
}
.form-style input[type="submit"],
.form-style input[type="reset"] {
  background: #73a2a5;
  padding: 8px 15px 8px 15px;
  border: none;
  color: rgb(0, 0, 0);
}
.form-style input[type="submit"]:hover,
.form-style input[type="reset"]:hover {
  background: #2c3841;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
.form-style .field-textarea {
  height: 100px;
}
.form-style input[type="text"],
.form-style input[type="email"],
textarea {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 1px solid #bebebe;
  padding: 7px;
  margin: 0px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  outline: none;
}
.form-style .long {
  width: 100%;
}
.form-style input[type="text"]:focus,
.form-style input[type="email"]:focus,
.form-style textarea:focus {
  -moz-box-shadow: 0 0 8px #88d5e9;
  -webkit-box-shadow: 0 0 8px #88d5e9;
  box-shadow: 0 0 8px #88d5e9;
  border: 1px solid #88d5e9;
}
.error {
  color: #d8000c;
  background-color: #ffbaba;
}
/* BUTTON LEARN MORE */
button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}

button.learn-more {
  width: 12rem;
  height: auto;
}

button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #282936;
  border-radius: 1.625rem;
}

button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}

button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #282936;
  font-weight: 500;
  line-height: 1.6;
  text-align: center;
}

button:hover .circle {
  width: 100%;
}

button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}

button:hover .button-text {
  color: #fff;
}
